﻿@using DemoApp.Models;
@model List<BlogViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <div style="margin: 20px;">
        <a href="/Home/BlogDetail?id=@item.Id"> <p>@item.Id</p></a>
        <h1>@item.Name</h1>
        <div >
            <img style="height: 100px; width: 100px;" src="@item.Image" />
        </div>
    </div>
}

