﻿
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<BookApp.Services.Authors.AuthorViewModel>

@{
    var message = TempData["Error"] != null ? (string)TempData["Error"]: string.Empty;
}
@if (!string.IsNullOrEmpty(message))
{
    <p>@message</p>
}
<h1 class="bg-info text-white">Authors</h1>
<a href="/Author/Create" class="btn btn-secondary">Create a Author</a>

<table class="table table-sm table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Books</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>

                @foreach (var book in item.Books)
                {
                    <span>@book.Name; </span>
                }


            </td>
          
            <td>
                <a class="btn btn-sm btn-primary" href="/Author/Update?id=@item.Id">
                    Update
                </a>
            </td>
            <td>
                <form action="/Author/Delete?id=@item.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>